.card-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.my-drawer {
    .am-card-body {
        padding: 0;
    }
    .am-card-footer-content {
        color: #fa541c;
        font-size: 15px;
    }
    .list-item {
        transition: all 0.3s;
    }
}