.trainer-area {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.time-selector-button {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 2px;
    color: white;
    transition: all 0.2s;
}